vrrp_script chk_haproxy {
script "killall -0 haproxy"
interval 2
weight 2
}
vrrp_instance VI_1 {
interface enp0s8
state MASTER
virtual_router_id 1
priority {{ priority }}
virtual_ipaddress {
192.168.12.100
}
track_script {
chk_haproxy
}
authentication {
auth_type PASS
auth_pass secret_password
}}